body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-image: url("icon.png");
  background-repeat: no-repeat;
  background-position: 115% 80%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #33373E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav > h1 {
  color: #00D8FF;
  font-size: 30px;
  padding-left: 10px;
}

nav > h2 {
  color: white; 
  margin-left: auto;
}

nav {
 display : flex;
 align-items: center; 
 height: 90px;
 padding: 30px 25px;
 background-color: #21222A;
}

div > h1 {
  padding-top: 20px;
  font-size: 50px;
  color: white;
}

ul > li {
  color:  white;
  padding-bottom: 15px;
  font-size: 25px;
}

li::marker {
  color: #61DAFB;
  font-size: 1.4em; 
}
